html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: oxygen-regular;
    src: url(assets/fonts/Oxygen-Regular.woff);
}

@font-face {
    font-family: oxygen-bold;
    src: url(assets/fonts/Oxygen-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: oxygen-light;
    src: url(assets/fonts/Oxygen-Light.woff);
    font-weight: lighter;
}



header {
    background-color: #1CB39B;
    height: 7vh;
    position: fixed;
    width: 100vw;
}

.searchBar {
    border: none;
    width: 20vw;
    height: 100%;
    margin-left: 15vw;
    background-color:#178776;
    font-size: 16px;
}

input[type="search"] {
    color:white;
    text-indent: 10px;
}

.searchBar::placeholder {
    color: white;
    opacity: 0.76;
    text-indent: 10px;
    font-size: 16px;
}

.humansLogo {
    width: 10vw;
    height: 10vh;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 3vh;
    object-fit: contain;
}

.leftNav{
    height: 100vh;
    position: fixed;
    width: 15vw;
    left: 0px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.rightNav {
    position: fixed;
    width: 22vw;
    height: 100vh;
    background-color: white;
    right: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.navMenuLeft {
    margin-top: 10vh;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navMenuLeft li {
    margin-left: 2vw;
}

.active {
    font-family: oxygen-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
}

.navMenuLeft a {
    text-decoration: none;
    color: black;
    width: 10vw;
    height: 18px;
    margin-left: 1vw;
    vertical-align: top;
    font-family: oxygen-regular;
    font-size: 15px;
}

.rightNavTop {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.profilePicAndName {
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.myProfilePic {
    width: 80px;
    height: 80px;
    background: url(assets/images/Ellipse.svg) no-repeat;
    margin-top: 3vh;
    background-position: center;
    align-self: center;
    
}

.myName {
    font-family: oxygen-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}

.stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
}

.statsNumbers {
    font-family: oxygen-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    color: #1CB39B;
}

.statsLabels {
    font-family: oxygen-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 21px;
    margin-top: 5px;
    color: #858585;
}

.bestFriendsTitle {
    font-family: oxygen-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-left: 1vw;
    margin-top: 4vh;
}

.bestFriendsContent {
    display: flex;
    flex-wrap: nowrap;
    height: 260px;
}

.bestFriendsPicture1 {
    background: url(assets/images/Maxime\ Frisou.svg);
    width: 30px;
    height: 30px;
}
.bestFriendsPicture2 {
    background: url(assets/images/Jane\ Meyer.svg);
    width: 30px;
    height: 30px;
}
.bestFriendsPicture3 {
    background: url(assets/images/Maxime\ Frisou.svg);
    width: 30px;
    height: 30px;
}

.bestFriendsPictures {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
    margin-left: 1vw;
    width: 40px;
}

.bestFriendsLabels {
    display: flex;
    width: 12vw;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
}

.bestFriendsLabels a {
    font-family: oxygen-regular;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.recentProjectsTitle {
    font-family: oxygen-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-left: 1vw;
}

.recentProjectsContent {
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
}

.recentProjectsPicture1 {
    background: url(assets/images/Mali.svg);
    width: 30px;
    height: 30px;
}
.recentProjectsPicture2 {
    background: url(assets/images/Fiacre.svg);
    width: 30px;
    height: 30px;
}
.recentProjectsPicture3 {
    background: url(assets/images/Les\ Valis.svg);
    width: 30px;
    height: 30px;
}

.recentProjectsPictures {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
    margin-left: 1vw;
    width: 40px;
}

.recentProjectsLabels {
    display: flex;
    width: 12vw;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
}

.recentProjectsLabels a {
    font-family: oxygen-regular;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.test {
    height: 222vh;
    background: linear-gradient(black,white)
}

li a {
    text-decoration: none;
}